---
import { Icon } from 'astro-icon/components'
---

<div id="tooltip" class="hidden tooltip-box bg-white">
    <div class="flex justify-center items-center mt-3">
        <div class="flex flex-row justify-center content-between">
            <div class="flex">
                <Icon class="self-center w-32 flex-auto" name="screenshot" size={80}/>
            </div>
            <div class="pr-5"></div>
            <div class=" text-xl flex-auto w-44">
                <span class="text-gray-300">พี่ๆ</span> <span class="text-gray-800">แคปหน้าจอนี้</span>
                <br>
                <span class="text-gray-300">แล้ว</span> <span class="text-gray-800">จ่ายในแอพธนาคาร</span>
                <br>
                <span class="text-gray-300">ได้เลยนะ</span>
            </div>
            <div class="flex flex-none w-12">
                <span id="closeTooltip" class="self-end top-28 right-10 text-3xl">X</span>
            </div>
        </div>

    </div>
</div>


<script>
    const closeTooltipButton = document.querySelector("#closeTooltip")
    closeTooltipButton?.addEventListener('click', () => {
        const tooltip = document.querySelector("#tooltip")
        tooltip?.classList.add("animate-slideDown")
        tooltip?.classList.remove("animate-slideUp")
        window.setTimeout(() => {
            tooltip?.classList.add("hidden")
        }, 1000)
    })
</script>

<style>

    .tooltip-box {
        position: fixed;
        width: 100%;
        height: 20%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
</style>
